header{
	font-size: 36px;
	color: #bf55ec;
	align-content: center;
	font-family: 'Flamenco', cursive;
	text-align: center;
	margin-top: 10px;
}

p{
	font-size: 30px;
}

body{
	color: white;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../image/i.jpg');
	background-size: cover;
	height: 100vh;
	font-size: 20px;
	font-family: 'Flamenco', cursive;
}

.main{
	max-width: 1180px;
	margin: 0px auto;
}

.nav-bar{
	position: fixed;
	margin-left: 40vw;
	margin-top: 60px;
}


.nav-bar li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}

.nav-bar li a{
	padding: 5px 0;
	color: #fff;
	text-decoration: none;
	font-size: 90%;
	font-weight: 100;
}

.nav-bar li a:hover{
	border-bottom: 2px solid #bf55ec;
}

.active{
	border-bottom: 2px solid #bf55ec;
}

.box{
	display: block;
	float: left;
	width: 20%;
	padding: 10px;
	padding-left: 20px;
}

img:hover{
	transform: scale(2);
	transition: 0.5s;
}

img{
	width: 100%;
	height: 25%;
	border-radius: 5px;
}

main{
	margin-left: 120px;
}

.footer{
	margin: 0px;
	width: 100%;
	height: 40px;
	clear:left;
	text-align:center;

}

.footer span{
	margin-left:10px;
}
.footer span a{
	text-decoration: none;
	color: white;
}

.footer span a:hover{
	color: #bf55ec;
}